/* Font */
@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrainsMono-Regular.woff2);
}

/* To make the scrolling of the nav bar smooth */
html {
    scroll-behavior: smooth;
}

:root {
    font-size: 18px;
    font-family: JetBrains Mono;
    --color-primary: #FDFFF1;
    --color-background: #05080A;
    --color-header: color: #EB467B;
}

/* 1px invisible border to prevent margin collapsing */
body {
    color: var(--color-primary, #FDFFF1);
    background-color: var(--color-background, #05080A);
    border: 1px solid var(--color-background);
}

main {
    margin-top: 1rem;
}

nav {
    
}

h3 {
    color: #EB467B;
}

/* #region scrollbar */
body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
body::-webkit-scrollbar-track {
    background: #1E2127;
}
  
body::-webkit-scrollbar-thumb {
    background: #AAAAAA;
}
/* #endregion */

.navbar {
    width: 100vw;
    height: 6rem;
    background-color: #171515;
    transition: height 300ms ease;
}

/* expanding the nav bar when hovering it */
.navbar:hover {
    height: 8rem;
}

/* making the text visible when hovering it */
.navbar:hover .link-text {
    display: block;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.nav-item {
    height: 100%;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6rem;
    color: var(--color-primary);
    text-decoration: none;
}

.link-text {
    display:none;
    margin-top: 0.5rem 0 0 0;
    font-size: 20px;
}

.nav-link svg {
    min-height: 2rem;
    margin: 1.5rem 0 1.5rem 0;
}