/* Font */
@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrainsMono-Regular.woff2);
}

/* To make the scrolling of the nav bar smooth */
html {
    scroll-behavior: smooth;
}

:root {
    font-size: 18px;
    font-family: JetBrains Mono;
    --color-primary: #FDFFF1;
    --color-background: #05080A;
    --color-header: #EB467B;
    --color-navbar: #171515;
}

/* 1px invisible border to prevent margin collapsing */
body {
    color: var(--color-primary, #FDFFF1);
    background-color: var(--color-background, #05080A);
    border: 1px solid var(--color-background);
}

h3 {
    color: #EB467B;
}

h4 {
    color: #AE81D8;
    margin-bottom: 0;
}

/* scroll animation */
.reveal {
    position: relative;
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.text-container {

}

.text-box {

}

/* #region scrollbar */
body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
body::-webkit-scrollbar-track {
    background: #1E2127;
}
  
body::-webkit-scrollbar-thumb {
    background: #AAAAAA;
}
/* #endregion */


/* For PC (only pc should have hover)*/
@media screen and (min-width: 800px) {
    /* #region adaptive */
    @keyframes link-text-anim {
        0% {color: var(--color-navbar);}
        99% {color: var(--color-navbar);}
        100% {color: var(--color-primary);}
    }

    main {
        margin-left: 8rem;
    }

    .navbar {
        width: 6rem;
        height: 100vh;
        position: fixed;
        background-color: var(--color-navbar);
        transition: width 300ms ease;
    }
    
    .navbar:hover {
        width: 15rem;
    }
    
    .navbar:hover .link-text {
        display: block;
    }
    
    .navbar-nav {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    
    .nav-item {
        width: 100%;
    }
    
    .nav-link {
        display: flex;
        align-items: center;
        height: 6rem;
        color: var(--color-primary);
        text-decoration: none;
    }
    
    .link-text {
        display:none;
        margin-left: 1rem;
    }
    
    .nav-link svg {
        min-width: 3rem;
        margin: 0 1.5rem 0 1.5rem;
    }
}
  
/* For mobile */
@media screen and (max-width: 799px) {
    main {
        margin-top: 1rem;
    }
    
    .navbar {
        width: 100vw;
        height: 8rem;
        background-color: var(--color-navbar);
        transition: height 500ms ease;
    }
    
    .navbar-nav {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    
    .nav-item {
        height: 100%;
    }
    
    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 6rem;
        color: var(--color-primary);
        text-decoration: none;
    }

    .link-text {
        display: block;
        margin-top: 0.5rem 0 0 0;
        font-size: 20px;
        color: var(--color-primary);
        animation-name: link-text-anim;
        animation-duration: 200ms;
    }
    
    .nav-link svg {
        min-height: 2rem;
        margin: 1.5rem 0 1.5rem 0;
    }
}
/* #endregion */