/* Font */
@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrainsMono-Regular.woff2);
}

/* To make the scrolling of the nav bar smooth */
html {
    scroll-behavior: smooth;
}

:root {
    font-family: JetBrains Mono;
    --color-primary: #FDFFF1;
    --color-background: #05080A;
    --color-header: #EB467B;
    --color-navbar: #171515;
}

html, body{
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* 1px invisible border to prevent margin collapsing */
body {
    color: var(--color-primary, #FDFFF1);
    background-color: var(--color-background, #05080A);
    border: 1px solid var(--color-background);
    overflow-x: hidden;
}

h3 {
    color: #EB467B;
}

h4 {
    color: #AE81D8;
    margin-bottom: 0;
}

.images {
    border: 6px solid #1497CA;
    border-radius: 5px;
}

/* scroll animation */
.reveal {
    position: relative;
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

/* carousel parent class */
.WOTC-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel {
    width: 30vw;
    height: 50vh;
    position: relative;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms ease-in-out;
    transition: 200ms;
    border: 6px solid #1497CA;
    border-radius: 5px;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}


@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

[data-tab-content]
{
    /*hide */
    display: none;
}

.active[data-tab-content]
{
    display: block;
}

/* #region scrollbar */
body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
body::-webkit-scrollbar-track {
    background: #1E2127;
}
  
body::-webkit-scrollbar-thumb {
    background: #AAAAAA;
}
/* #endregion */


/* For PC (only pc should have hover)*/
@media screen and (min-width: 800px) {
    :root {
        font-size: 1.5rem;
    }

    /* #region adaptive */
    @keyframes link-text-anim {
        0% {color: var(--color-navbar);}
        99% {color: var(--color-navbar);}
        100% {color: var(--color-primary);}
    }

    main {
        margin-left: 8rem;
    }

    .images {
        width: 20rem;
        max-width: 290px;
    }

    .navbar {
        width: 6rem;
        height: 100vh;
        z-index: 3;
        position: fixed;
        background-color: var(--color-navbar);
        transition: width 500ms ease;
    }
    
    .navbar:hover {
        width: 15rem;
    }

    .nav-item:hover {
        opacity: 0.6;
    }
    
    .navbar:hover .link-text {
        display: block;
    }
    
    .navbar-nav {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    
    .nav-item {
        width: 100%;
    }
    
    .nav-link {
        display: flex;
        align-items: center;
        height: 6rem;
        color: var(--color-primary);
        text-decoration: none;
    }
    
    .link-text {
        display:none;
        margin-left: 1rem;
        animation-name: link-text-anim;
        animation-duration: 300ms;
    }
    
    .nav-link svg {
        min-width: 3rem;
        margin: 0 1.5rem 0 1.5rem;
    }

    /* setting the max width of the carousel */
    .carousel {
        max-width: 290px;
    }

    .carousel-button {
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(0, 0, 0, 0.2);
    }

    /* setting the buttons to white and the background color to
    have a greater alpha value when hovered on */
    .carousel-button:hover,
    .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    }
}
  
/* For mobile */
@media screen and (max-width: 799px) {
    :root {
        font-size: 1rem;
        text-align: center;
    }
    
    main {
        margin-top: 8rem;
    }

    nav {
        margin-top: 0;
        padding-top: 0;
    }

    .images {
        width: 10rem;
        min-width: 230px;
    }
    
    /* navbar moved to the top of the screen */
    .navbar {
        position: fixed;
        width: 100vw;
        height: 6rem;
        z-index: 3;
        background-color: var(--color-navbar);
    }
    
    .navbar-nav {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    
    .nav-item {
        height: 100%;
    }
    
    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 6rem;
        color: var(--color-primary);
        text-decoration: none;
    }

    .link-text {
        display: block;
        margin-top: 0.5rem 0 0 0;
        font-size: 1.1rem;
        color: var(--color-primary);
    }
    
    .nav-link svg {
        min-height: 1rem;
        margin: 0.3rem 0 0.3rem 0;
    }

    /* setting the min width of the carousel */
    .carousel {
        min-width: 230px;
    }

    .carousel-button {
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
    }
}
/* #endregion */